ul{
    list-style-type: none;
    color: whitesmoke;
    text-align: center;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
li{
    background-color: azure;
    color: black;
    padding: 5px;
    margin: 10px;
    width: 77%;
    border-radius: 2px;
}