.container{
    display: flex;
   align-items: center;
    width: 320px;
    flex-direction: column;
    background-color: black;
    height: 500px;
    border-radius: 10px ;
    box-shadow: 1px  1px 1px 1px  whitesmoke, -1px -1px  1px 1px whitesmoke




}
.input-holder{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container h2{
    color: whitesmoke;
}
.container button{
    border: none;
    background-color: whitesmoke;
    padding: 9px;
    border-radius: 1px;


}
.container input{
    
    padding: 5px;
    outline: none;
    width: 55%;
    padding: 7px;
}